.env
./__pycache__/
venv/
venv/Lib/
flower/__pycache__/
/flower/data/
/__pycache__/
.python-version
/blockchain/__pycache__/
/node_modules/
/package-lock.json
/package.json
/log.txt
/data/
/frontend/flbc/node_modules/
frontend/flbc
/flask/__pycache__/
/flask/data